<div class="mdl-grid">
<div class="mdl-cell mdl-cell--4-col"></div>
<div class="mdl-cell mdl-cell--4-col">    
    <div class="mdl-card mdl-shadow--4dp report-card">
    <div class="mdl-card__title mdl-card--border">
      <h2 class="mdl-card__title-text"><%= @test.name%></h2>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      <p>
        <strong>User:</strong>
        <%= @test.user.name %>
      </p>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      <p>
        <strong>Path:</strong>
        <%= @test.path %>
      </p>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      <p>
        <strong>Date:</strong>
        <%= @test.created_at %>
      </p>
    </div>
    <div class="mdl-card__supporting-text mdl-card--border">
      <p>
        <strong>Description:</strong>
        <%= @test.description %>
      </p>
    </div>
    <div class="mdl-card__supporting-text ">
      <p>
        <strong>Report:</strong>
        <%= @test.report_data %>
      </p>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <%= link_to "Download PDF", "#", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--red-800" %>
      <%= link_to 'Send at mail', "#", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--purple-800" %>
    </div>
  </div>    
</div>
<div class="mdl-cell mdl-cell--4-col"></div>
</div>
