<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">          
            <%= link_to "Scanner by Kasyak", root_path, class: "mdl-navigation__link logo"%>              
          </span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer">
            <% if signed_in? %>
             <p id="userName-label"> Hi, <%= current_user.name %>! </p>
            <% end %>  
          </div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <% if signed_in? %>
              <%= link_to "Profile", current_user, class: "mdl-navigation__link " %>       
              <%= link_to "Settings", edit_user_path(current_user), class: "mdl-navigation__link " %>
              <%= link_to "Sign out", signout_path, method: "delete", class: "mdl-navigation__link" %>                   
            <% else %>
              <%= link_to "Sign in", signin_path, class: "mdl-navigation__link" %>
            <% end %>
          </nav>
        </div>
      </header>
          
      <main class="mdl-layout__content">
        <%= yield %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> mdl-shadow--4dp"><%= value %></div>
      <% end %>
      <script type="text/javascript">
        setTimeout(function() {$('.alert').fadeOut(3000) }, 1500);
      </script>
      </main>
  </div>
  </body>
</html>
